<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
        data-aos="zoom-out">
        <img src="assets/img/banner-homeV3-final.png" class="img-fluid">

        <section id="social" class="social col-12 text-right" style="cursor:pointer;">

            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">

                <a class="youtube" href="https://www.youtube.com/channel/UC9gxbzEzxT4DUU27o3-UsxA" target="_blank"><i
                        class="bi bi-youtube"></i></a>
                <a class="facebook" href="https://www.facebook.com/FEUFRJ/" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                <a class="instagram" href="https://www.instagram.com/ppgefeufrj/" target="_blank"><i
                        class="bi bi-instagram"></i></a>

            </div>

        </section>


        <div class="d-flex">
            <section id="cta" class="cta">
                <div class="container" data-aos="zoom-out">

                    <div class="row g-5">
                        <div
                            class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
                            <h3>{{'apresentacao' | translate}}</h3>
                            <p style="text-align: justify; font-size: 16px;"> O Programa de Pós-Graduação em Educação da
                                Universidade
                                Federal do Rio de Janeiro (PPGE)
                                teve início em 1972, com a criação do Mestrado, e se ampliou em 1980, com a criação do
                                Doutorado. Há quatro décadas, o PPGE participa do desenvolvimento da investigação
                                científica nesse campo, visando o aperfeiçoamento democrático das instituições, das
                                políticas e das práticas educacionais. Ao longo desse período, o Programa vem
                                qualificando e titulando uma quantidade expressiva de pesquisadores que constituem o
                                corpo docente de inúmeras universidades brasileiras. O registro de toda essa produção
                                está acessível neste sítio eletrônico, que apresenta 1.764 trabalhos defendidos em seus
                                48 anos de existência, totalizando 1.345 dissertações e 419 teses. Os trabalhos
                                defendidos a partir de 2006 encontram-se disponíveis para download, na íntegra.
                                <br />Destaca-se ainda que o PPGE tem orientado sua investigação em torno de seis
                                grandes
                                vertentes expressas na organização atual do mesmo em seis linhas de pesquisa: Currículo,
                                ensino e diferença, Formação de professores, linguagens e subjetividade, Políticas e
                                Instituições Educacionais, História, Sujeitos e Processos Educacionais e Inclusão, Ética
                                e Interculturalidade, e Estado, Trabalho-Educação e Movimentos Sociais. Em 2022, o
                                Programa conta com 38 Professores Permanentes, 01 docente visitante e 07 Professores
                                Colaboradores.
                                <br /> <br />

                                <b>Coordenador do Programa</b>: Prof.Dr.Rodrigo Pereira da Rocha Rosistolato.
                                Vice-coordenador:
                                Prof. Dr. José Claudio Sooma Silva
                            </p>
                        </div>

                        <div
                            class="col-lg-4 col-md-6 content d-flex flex-column justify-content-center order-first order-md-first">
                            <h3>{{'noticias' | translate}}</h3>

                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-check2"></i>
                                12/05/2022 - Mestrado
                            </div>
                            <p style="text-align: justify; font-size: 15px;">Inscrições abertas, clique para participar.
                            </p>
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-check2"></i>
                                18/05/2022 - Mestrado
                            </div>
                            <p style="text-align: justify; font-size: 15px;">Resultado final CAPES PRINT
                            </p>

                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-check2"></i>
                                24/05/2022 - Doutorado
                            </div>
                            <p style="text-align: justify; font-size: 15px;">Edital de bolsas de doutorado - turma 2022
                            </p>

                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-check2"></i>
                                28/05/2022 - Doutorado
                            </div>
                            <p style="text-align: justify; font-size: 15px;">Inscrições abertas, clique para participar.
                            </p>


                        </div>



                    </div>

                </div>
            </section>
        </div>
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-out">

                <div class="row g-5">

                    <div
                        class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
                        <h3>DEBATES CONTEMPORÂNEOS</h3>
                        <p>EVASÃO E RETENÇÃO NO ENSINO SUPERIOR: ABORDAGEM BASEADA EM TAXAS QUANTITATIVAS</p>
                        <a href="https://revistas.ufrj.br/index.php/rce/issue/view/1866" target="_blank"
                            class="cta-btn align-self-start"><i class="bi bi-book-half"></i> Conheça a revista</a>
                        <a href="https://www.facebook.com/revistacontemporaneadeeducacao/" target="_blank"
                            class="cta-btn align-self-start"><i class="bi bi-facebook"></i> Facebook Revista</a>
                    </div>

                    <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
                        <div class="img">
                            <img src="assets/img/revista/revista-RCE.png" alt="" class="img-fluid">
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Call To Action Section -->
    </div>
</section>