<h1 mat-dialog-title>Acompanhar da inscrição</h1>
<div class="pb-3" mat-dialog-content>
  <div class="container">
    <div class="row text-center" data-aos-delay="200">
      <div class="card-body">
        <div class="text-center">
          <table class="table">
            <thead>
              <tr>
                <th class="col-auto" scope="col">Etapa</th>
                <th scope="col">Nome da Etapa</th>
                <th class="col-2" scope="col">Nota da etapa</th>
                <th class="col-auto" scope="col">Aprovado</th>
                <th class="col-auto" scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="data.etapa == 'avaliacao' || (data.etapa == 'homologacao' && data.recursoHabilitado)">
                <td scope="row">-</td>
                <td scope="row">Homologação</td>
                <td scope="row">-</td>
                <td scope="row">{{ getApproveHomolog() }}</td>
                <td scope="row">
                  <div *ngIf="verificaTemJustificativaHomolog(); else blockJustificar">
                    <p *ngIf="verificaTemRespostaHomolog(); else blockVerResposta">Recurso solicitado</p>
                    <ng-template #blockVerResposta>
                      <p>Recurso respondido</p>
                      <button (click)="abrirModalResposta(null, true)" type="button" mat-raised-button
                        color="primary">Ver resposta</button>
                    </ng-template>
                  </div>
                  <ng-template #blockJustificar>
                    <button (click)="abrirModalJustificar(null, true)" *ngIf="getApproveHomolog() == 'Indeferido'"
                      type="button" mat-raised-button color="primary">Solicitar recurso</button>
                  </ng-template>

                </td>
              </tr>

              <ng-container *ngFor="let criterioStep of criterioStepList; let i= index">
                <tr *ngIf="i < data.etapaAvaliacao || (i == data.etapaAvaliacao && data.recursoHabilitado)">
                  <td scope="row">{{ i+1 }}</td>
                  <td scope="row">{{ criterioStep.title }}</td>
                  <td>{{ getPartialScoreByStep(criterioStep._id) }}</td>
                  <td>{{ getApproveStep(criterioStep._id) }}</td>
                  <td scope="row">
                    <div *ngIf="verificaTemJustificativa(criterioStep._id); else blockJustificar">
                      <p *ngIf="verificaTemResposta(criterioStep._id); else blockVerResposta">Recurso solicitado</p>
                      <ng-template #blockVerResposta>
                        <p>Recurso respondido</p>
                        <button (click)="abrirModalResposta(criterioStep._id)" type="button" mat-raised-button
                          color="primary">Ver resposta</button>
                      </ng-template>
                    </div>
                    <ng-template #blockJustificar>
                      <button (click)="abrirModalJustificar(criterioStep._id)"
                        *ngIf="getApproveStep(criterioStep._id) == 'NÃO'" type="button" mat-raised-button
                        color="primary">Solicitar recurso</button>
                    </ng-template>
  
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- <form role="form" class="reviewer container" [formGroup]="form">

    <div formGroupName="step">
      <div *ngFor="let step of data.criterio?.step; let i = index" >
        <div *ngIf="i == 0 || form.value.step['step-'+data.criterio?.step[i-1]?._id]?.stepApproval " class="row mt-5" [formGroupName]="'step-'+step._id">
          <div class="col-12 text-center p-2">
            <h3>
              {{ formApprovalTable.title }}
            </h3>
            <div class="row align-items-center text-start border border-dark" *ngFor="let section of step.section">
              <div class="col-md-3 p-2">
                <p class="title-section-form">
                  {{ section.title }}
                </p>
              </div>
              <div class="col-md-9 p-2" [formGroupName]="'section-'+section._id">
        
                <div class="row align-items-center" *ngFor="let question of section.question">
                  <div class="col-9 p-2">
                    <p>
                      {{question.text}}
                    </p>
                  </div>
                  <div class="col-3 p-2">
                    <label class="mr-1" style="font-size: 12px;">(até {{formatDecimal(question.maxNota)}} p.)</label>
                    <input [attr.disabled]="true" class="input-nota" type="number" [formControlName]="'question-'+question._id">
                  </div>
                </div>
        
              </div>
            </div>
          </div>
    
          <div class="col-12 mt-3">
            <div class="row justify-content-center">
              <div class="col-auto">
                <mat-radio-group [disabled]="true" class="example-radio-group w-100" formControlName="stepApproval" >
                  <mat-radio-button class="example-radio-button mr-3" [value]="true">Aprovar etapa</mat-radio-button>
                  <mat-radio-button class="example-radio-button mr-3" [value]="false">Reprovar etapa</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form> -->
</div>
<hr class="mt-0">
<div mat-dialog-actions>
  <button mat-raised-button color="accent" mat-dialog-close>Fechar</button>
</div>