<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">


  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="../../assets/img/logo-ppge.png" alt="">
      <!--<h1>HeroBiz<span>.</span></h1>-->
    </a>
  </div>

  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a style="cursor: pointer;" [routerLink]="''" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="../../assets/img/logo-ppge.png" alt="">
      <!--<h1>HeroBiz<span>.</span></h1>-->
    </a>

    <nav id="navbar" class="navbar">
      <ul>

        <li class="dropdown"><a><span>{{'o.programa.horizontal' | translate}}</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a class="active">{{'o.programa.horizontal' | translate}}</a></li>
            <li><a>{{'historico' | translate}}</a></li>
            <li><a>{{'objetivos' | translate}}</a></li>
            <li class="dropdown"><a><span>{{'comissoes' | translate}}</span> <i
                  class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a>{{'comissao.deliberativa.funcoes' | translate}}</a></li>
                <li><a>{{'comissao.gestao' | translate}}</a></li>
              </ul>
            </li>
            <li class="dropdown"><a><span>{{'agenda' | translate}}</span> <i
                  class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a>{{'colegiado' | translate}}</a></li>
                <li><a>{{'comissao.deliberativa' | translate}}</a></li>
                <li><a>{{'comissao.gestao' | translate}}</a></li>
              </ul>
            </li>

            <li class="dropdown"><a><span>{{'regulamentos.normas.conhecimento' | translate}}</span> <i
                  class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a>{{'regulamento.ppge' | translate}}</a></li>
                <li><a>{{'regras.credenciamento' | translate}}</a></li>
              </ul>
            </li>

            <li class="dropdown"><a><span>{{'linhas.pesquisa' | translate}}</span> <i
                  class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a>{{'curriculo.ensino.diferenca' | translate}}</a></li>
                <li><a>{{'formacao.docente.subjetividade' | translate}}</a></li>
                <li><a>{{'politicas.instituicoes.educacionais' | translate}}</a></li>
                <li><a>{{'historia.sujeitos.processos.educacionais' | translate}}</a></li>
                <li><a>{{'inclusao.etica.interculturalidade' | translate}}</a></li>
                <li><a>{{'estado.trabalho.movimentos.sociais' | translate}}</a></li>

              </ul>
            </li>

            <li class="dropdown"><a><span>{{'cursos' | translate}}</span> <i
                  class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a>{{'mestrado' | translate}}</a></li>
                <li><a>{{'doutorado' | translate}}</a></li>
                <li><a>{{'ementario.disciplinhas' | translate}}</a></li>
                <li><a>{{'oferta.horario.semestre.curso' | translate}}</a></li>
                <li><a>{{'calendario.letivo' | translate}}</a></li>
                <li><a>{{'matricula' | translate}}</a></li>

              </ul>
            </li>

            <li><a [routerLink]="'contato'">{{'contatos' | translate}}</a></li>



          </ul>
        </li>

        <li class="dropdown megamenu"><a><span>{{'corpo.docente' | translate}}</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li>
              <a [routerLink]="'corpo-docente/1'">{{'professores' | translate}}</a>
            </li>
            <li>
              <a [routerLink]="'corpo-docente/2'">{{'pos.doutorado' | translate}}</a>
            </li>
            <li>
              <a>{{'normas.pos.doutorado' | translate}}</a>
            </li>
          </ul>
        </li>



        <li class="dropdown"><a><span>{{'teses.dissertacoes' | translate}}</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a class="active">{{'buscador.ano.orientador.palavras.titulo' | translate}}</a></li>
          </ul>
        </li>

        <li style="cursor: pointer;"><a>{{'processos.seletivos' | translate}}</a></li>

        <li class="dropdown megamenu"><a><span>{{'informacoes.academicas' | translate}}</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li>
              <a>{{'calendario' | translate}}</a>

            </li>
            <li>
              <a>{{'horario.periodo' | translate}}</a>

            </li>
            <li>
              <a>{{'matricula' | translate}}</a>

            </li>
            <li>
              <a>{{'formulario' | translate}}</a>

            </li>
          </ul>
        </li>


      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav><!-- .navbar -->

    <!--<a class="btn-getstarted scrollto" href="index.html#about">Get Started</a>-->
    <a class="logo d-flex align-items-center scrollto me-auto me-lg-0"><img src="../../assets/img/minerva.png"
        alt=""></a>


  </div>
</header><!-- End Header -->