<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>PPGE - Faculdade de Educação</h3>
                        <p>
                            Rio de Janeiro <br>
                            Rua Santos Marcos<br><br>
                            <strong>Telefones:</strong> 21 9 7456 3216<br>
                            <strong>Email:</strong> ppge@email.com<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Links Importantes</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a>Agenda</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Linhas de Pesquisa</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Contatos</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Corpo Docente</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Processos Seletivos</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Cursos</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a>Mestrado</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Doutorado</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Ementário</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Matrícula</a></li>
                    </ul>
                </div>



            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-12 ">
                    <div class="footer-info">
                        <h3>Parceiros Institucionais</h3>
                        <section id="clients" class="clients" style="padding: 0px">

                            <div class="row">
                                <div class="col-12">
                                    <a href="https://www.gov.br/capes/pt-br" target="_blank"><img
                                            src="assets/img/parceiros/capes.png" class="parceiros img-fluid" alt=""></a>
                                    <a href="https://www.faperj.br/" target="_blank">
                                        <img src="assets/img/parceiros/faperj.png" class="parceiros img-fluid"
                                            alt=""></a>
                                </div>


                            </div>

                        </section>
                    </div>
                </div>



            </div>
        </div>

    </div>

    <div class="footer-legal text-center">
        <div
            class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <div class="copyright">
                    &copy; Copyright PPGE<strong><span></span></strong>. All Rights Reserved
                </div>

            </div>

            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                <a class="twitter"><i class="bi bi-twitter"></i></a>
                <a class="facebook"><i class="bi bi-facebook"></i></a>
                <a class="instagram"><i class="bi bi-instagram"></i></a>
                <a class="google-plus"><i class="bi bi-skype"></i></a>
                <a class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

        </div>
    </div>

</footer><!-- End Footer -->