<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>PPGE - Faculdade de Educação</h3>
                        <p>
                            Rio de Janeiro <br>
                            Rua Santos Marcos<br><br>
                            <strong>Telefones:</strong> 21 9 7456 3216<br>
                            <strong>Email:</strong> ppge@email.com<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Links Importantes</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a>Agenda</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Linhas de Pesquisa</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Contatos</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Corpo Docente</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Processos Seletivos</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Cursos</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a>Mestrado</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Doutorado</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Ementário</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a>Matrícula</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Atualizações</h4>
                    <p>Fique por dentro de tudo que estamos realizando</p>
                    <form action="" method="post">
                        <input type="email" placeholder="Digite seu Email" name="email"><input type="submit"
                            value="Assinar">
                    </form>
                    <div class="row">
                        <div class="col-lg-6 ">
                            <img height="500" width="200" src="assets/img/minerva.png" class="img-fluid" alt="">
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="footer-legal text-center">
        <div
            class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <div class="copyright">
                    &copy; Copyright <strong><span></span></strong>. All Rights Reserved
                </div>

            </div>

            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                <a class="twitter"><i class="bi bi-twitter"></i></a>
                <a class="facebook"><i class="bi bi-facebook"></i></a>
                <a class="instagram"><i class="bi bi-instagram"></i></a>
                <a class="google-plus"><i class="bi bi-skype"></i></a>
                <a class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

        </div>
    </div>

</footer><!-- End Footer -->