<div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
    data-aos="zoom-out">
    <div id="accordionExample">
        <div class="container" data-aos="zoom-out">
            <div class="col-lg-12 col-md-12 wid content justify-content-center order-last order-md-first row">
                <div class="col-md-6 pad">
                    <div id="headingOne">
                        <button class="btn but" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Teses
                        </button>
                    </div>
                </div>
                <div class="col-md-6 pad">
                    <div id="headingTwo">
                        <button class="btn but collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Dissertações
                        </button>
                    </div>
                </div>
                <div class="pad-down">
                    <div id="collapseOne" class="collapse show " aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <app-tese [datas]="datas"></app-tese>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <app-dissertacao [datas]="datas"></app-dissertacao>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>