.wid {
    width: 1200px;
}

.but {
    width: 230px;
    background: var(--color-secondary);
    color: #fff;
}

.pad {
    padding: 5%;
}

.pad-down {
    padding-bottom: 5%;
}

.butAno {
    margin-bottom: 2%;
}

h2{
    color: var(--color-secondary);
}