<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row text-center" data-aos="fade-up" data-aos-delay="200">

            <div>
                <h3 class="pt-0 pt-lg-5">Teses e Dissertações do PPGE/UFRJ</h3>

                <div>
                    <form role="form" class="reviewer" [formGroup]="form">
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-2">
                                <select class="form-select" aria-label="Selecione o tipo do projeto:"
                                    formControlName="tipo">
                                    <option value="1">Tese</option>
                                    <option value="2">Dissertação</option>
                                </select>
                            </div>

                            <div class="form-group col-md-5">
                                <input type="text" name="ano" class="form-control" id="ano" placeholder="Ano de publicação"
                                    formControlName="ano" />
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" name="autor" class="form-control" id="autor" placeholder="Autor(a)"
                                    formControlName="autor" />

                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-6">
                                <input type="text" name="orientador" class="form-control" id="orientador"
                                    placeholder="Orientador" formControlName="orientador" />

                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" name="banca" class="form-control" id="banca" placeholder="Banca"
                                    formControlName="banca" />

                            </div>

                        </div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-12">
                                <input type="text" name="titulo" class="form-control" id="titulo" placeholder="Título"
                                    formControlName="titulo" />

                            </div>
                        </div>


                        <mat-form-field [style.width.%]="100" class="example-chip-list">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let metadado of metadados" [selectable]="selectable"
                                    [removable]="removable" (removed)="remove(metadado)">
                                    {{metadado}}
                                    <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
                                </mat-chip>
                                <input placeholder="Palavras chaves: separe-as por ENTER" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field>

                        <div class="row justify-content-center">
                            <button (click)="filter()" class="btn btn-primary col-md-2">
                                Pesquisar
                            </button>
                            <button type="reset" (click)="filtros = null" class="btn btn-danger col-md-2">
                                Limpar Filtro
                            </button>
                        </div>
                    </form>
                </div>
                <div *ngIf="filtros">
                    <app-filtro [filtros]="filtros" [limit]="limit"></app-filtro>
                    <app-pagination 
                        *ngIf="filtros.length > 0 || page > 1" 
                        [page]="page" 
                        [qtdItems]="filtros.length" 
                        [limit]="limit"
                        (onPagination)="onPagination($event)">
                    </app-pagination>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->