.text-body {
  padding: 30px;
  border-radius: 15px;
  border: 2px solid antiquewhite;

  .link {
    color: #6E222E;
    &:hover {
      text-decoration: underline !important;
      cursor: pointer;
    }
  }

  .body-content {
    p {
      margin-bottom: 0;
    }
  }
  
}