<h1 mat-dialog-title>Alterar Senha</h1>

<div class="pb-3" mat-dialog-content>
  <form role="form" class="reviewer container contactForm" [formGroup]="form">
    
      <div class="form-group">
          <input type="password" name="password" class="form-control" id="password" placeholder="Senha"
              formControlName="password" />
          <div class="validation"></div>
      </div>
    
      <div class="form-group">
          <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Nova Senha"
              formControlName="newPassword" />
          <div class="validation"></div>
      </div>
    
      <div class="form-group">
          <input type="password" name="repeatNewPassword" class="form-control" id="repeatNewPassword" placeholder="Repetir Nova Senha"
              formControlName="repeatNewPassword" />
          <div class="validation"></div>
      </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-raised-button color="primary" style="background-color: green;" (click)="editPassword()">Alterar Senha</button>
</div>