<div *ngIf="!checkAno">
  <div *ngFor="let t of datas" class="d-flex align-items-center mt-4" (click)="getAllTeseAno(t)" >
    <i class="bi bi-check2"></i>
    <h4>Defendidas em {{t}}</h4>
  </div>
</div>

<div class="card-body" *ngIf="checkAno">
  <div class="text-center">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">nº</th>
        <th scope="col">Autor</th>
        <th scope="col">Titulo</th>
        <th scope="col">Data/Sala</th>
        <th scope="col">Banca</th>
        <th scope="col">Ingresso</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of teses; let i= index">
        <th scope="row">{{ i+1 }}</th>
        <th scope="row">{{ t.autor }}</th>
        <th scope="row">
          <a [href]="t.linkTitulo" class="link-primary">
            {{ t.titulo }}
          </a>
        </th>
        <th scope="row">{{ t.dataSala }}</th>
        <th scope="row">{{ t.banca }}</th>
        <th scope="row">{{ t.ingresso }}</th>
      </tr>
      </tbody>
    </table>
    <h4 (click)="checkAno = false">Para voltar as datas clique <i>aqui</i></h4>
  </div>
</div>