<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2 *ngIf="tipoDocente == 1">Professores</h2>
            <h2 *ngIf="tipoDocente == 2">Pós-Doutorandos</h2>
        </div>

        <div class="row gy-5">
            <div *ngFor="let profile of listProfile" class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img" style="background-image: url('{{getImagePath(profile.imagePathS3)}}');">
                    </div>
                    <div class="member-info">
                        <div class="social">
                            <a target="_blank" *ngIf="profile.twitter" href="{{ profile.twitter }}"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" *ngIf="profile.facebook" href="{{ profile.facebook }}"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" *ngIf="profile.instagram" href="{{ profile.instagram }}"><i class="bi bi-instagram"></i></a>
                            <a target="_blank" *ngIf="profile.linkedin" href="{{ profile.linkedin }}"><i class="bi bi-linkedin"></i></a>
                        </div>
                        <h4>{{ profile.fullName }}</h4>

                        <span>{{ profile.academicFormation }}</span>
                        <span *ngIf="profile?.linhaPesquisa?.length > 0">Linha(s) de pesquisa: {{ profile?.linhaPesquisa?.join('. ') }} </span>
                        <span *ngIf="profile.lattes"><a href="{{ profile.lattes }}" target="_blank">Acesso Lattes</a></span>

                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>
</section><!-- End Team Section -->