<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2 *ngIf="tipoDocente == 1">Professores</h2>
            <h2 *ngIf="tipoDocente == 2">Doutores</h2>

            <p>Conheça mais sobre os profissionais que atuam na faculdade.</p>
        </div>

        <div class="row gy-5">
            <div *ngFor="let profile of listProfile" class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <div class="social">
                            <a *ngIf="profile.twitter" href=""><i class="bi bi-twitter"></i></a>
                            <a *ngIf="profile.facebook" href=""><i class="bi bi-facebook"></i></a>
                            <a *ngIf="profile.instagram" href=""><i class="bi bi-instagram"></i></a>
                            <a *ngIf="profile.linkedin" href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                        <h4>{{ profile.fullName }}</h4>

                        <span>{{ profile.academicFormation }}</span>
                        <span>Linha de pesquisa: {{ profile.researchLine }} </span>

                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>
</section><!-- End Team Section -->