<div class="card card-body" *ngIf="!checkAno">
  <div class="text-left">
    <h2>Dissertações</h2>
  </div>
  <div class="text-center">
      <div *ngFor="let d of datas.data">
        <button class="btn btn-primary butAno" (click)="getAllDissertacaoAno(d.ano)">
          Defendidas em {{d.ano}}
        </button>
      </div>
  </div>
</div>
<div class="card card-body" *ngIf="checkAno">
  <div class="text-left">
    <h2>Dissertações</h2>
  </div>
<div class="text-center">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">nº</th>
      <th scope="col">Autor</th>
      <th scope="col">Titulo</th>
      <th scope="col">Data/Sala</th>
      <th scope="col">Banca</th>
      <th scope="col">Ingresso</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let di of dissertacoes.dissertacao; let i= index">
      <th scope="row">{{ i+1 }}</th>
      <th scope="row">{{ di.autor }}</th>
      <th scope="row">
        <a [href]="di.linkTitulo" class="link-primary">
          {{ di.titulo }}
        </a>
      </th>
      <th scope="row">{{ di.dataSala }}</th>
      <th scope="row">{{ di.banca }}</th>
      <th scope="row">{{ di.ingresso }}</th>
    </tr>
    </tbody>
  </table>
  <button class="text-right btn btn-success" (click)="checkAno = false">Voltar</button>
</div>
</div>