
.card-inscricoes {
  border-radius: 15px;
  border: 2px solid antiquewhite;

  .title {
    font-size: 14px;
    font-weight: bolder;
  }

  .card-icon-action {
    font-size: 25px;
  }
}

.center-pills { display: inline-block; }




