<div class="container">
  <div class="row justify-content-end align-items-center">
    <div class="col-auto">
      <span (click)="callPagination(page != 1, -1)" class="material-icons arrows-pagination" style="font-size: 40px;" [ngClass]="{'arrow-disabled': page == 1}">
        chevron_left
      </span>
    </div>
    <div class="col-auto">
      Página {{page}}
    </div>
    <div class="col-auto">
      <span (click)="callPagination(qtdItems >= limit, 1)" class="material-icons arrows-pagination" style="font-size: 40px;" [ngClass]="{'arrow-disabled': qtdItems < limit}">
        chevron_right
      </span>
    </div>
  </div>
</div>
