<div class="container pb-5">
  <div class="row justify-content-between">
    <div class="section-header" mat-dialog-title>
      <h2>Ranking</h2>
    </div>
  </div>
  
  <div class="row justify-content-end mb-5">
    <div class="col-12">
      
      <mat-form-field appearance="fill" class="mb-3 w-100">
        <mat-label>Selecione um Processo Seletivo</mat-label>
        <mat-select (selectionChange)="detalharAllInscricoes($event.value)">
          <mat-option *ngFor="let linha of listProcessoSeletivo" [value]="linha._id" >{{ linha.title }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div *ngFor="let linhaPesquisa of listInscricoes" class="mb-5">
    <h3>{{linhaPesquisa?.titleLinha}}</h3>

    <table style="width: 100%;" mat-table [dataSource]="linhaPesquisa?.inscritos" class="mat-elevation-z8 demo-table">
      <!-- Nome Completo Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome Completo</th>
        <td mat-cell *matCellDef="let element">{{element.fullname}}</td>
      </ng-container>
    
      <!-- Nota Column -->
      <ng-container matColumnDef="nota">
        <th mat-header-cell *matHeaderCellDef>Nota</th>
        <td mat-cell *matCellDef="let element">{{element.nota}}</td>
      </ng-container>
      
      <!-- Aprovado Column -->
      <ng-container matColumnDef="aprovado">
        <th mat-header-cell *matHeaderCellDef>Aprovado</th>
        <td mat-cell *matCellDef="let element">{{element.aprovado ? 'SIM' : 'NÃO'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</div>
