<main id="submission">
    <div class="container submission-content">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="box">
                    <div class="section-header">
                        <h2>Painel Gerencial - PPGE</h2>
                    </div>

                    <div [ngClass]="{'section-header': menu.length > 2}">
                        <div class="container">
                            <div class="row">
                                <mat-tab-group style="font-size: 40px !important;" (selectedTabChange)="changeTab()">
                                    <mat-tab label="Administrar Site" *ngIf="myUser.isAdmin"> 
                                        <ul class="nav nav-pills">
                                            <ng-container  *ngFor="let item of menu">
                                                <li *ngIf="item.permitido && item.type == 2" class="nav-item mx-2">
                                                    <button mat-raised-button color="accent" [routerLink]="[item.path]">
                                                        {{item.name}}
                                                    </button>
                                                </li>
                                            </ng-container>
                                        </ul> 
                                    </mat-tab>
                                    <mat-tab label="Processo Seletivo">
                                        <ul class="nav nav-pills">
                                            <ng-container  *ngFor="let item of menu">
                                                <li *ngIf="item.permitido && item.type == 1" class="nav-item mx-2">
                                                    <button mat-raised-button color="accent" [routerLink]="[item.path]">
                                                        {{item.name}}
                                                    </button>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>