<h1 mat-dialog-title>Solicitação de Recurso</h1>

<div class="pb-3" mat-dialog-content>
  <form *ngIf="!data.flagJustView; else blockView" role="form" class="reviewer container" [formGroup]="form">

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Justificativa</mat-label>
      <textarea matInput formControlName="justificativa"></textarea>
    </mat-form-field>
  </form>

  <ng-template #blockView>
    <div class="container">
      <div class="row">
        <div class="col-12 card-inscricoes py-3 px-4">
          <h3>Recurso solicitado:</h3>
          <p>{{data.recurso.justificativa}}</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-auto">
          <p class="text-white px-2 py-1 rounded" [ngClass]="data.recurso.recursoAceito ? 'bg-success' : 'bg-danger'" >{{data.recurso.recursoAceito ? 'Recurso aceito' : 'Recurso negado'}}</p>
        </div>
        <div class="col-12 card-inscricoes py-3 px-4">
          <h3>Resposta ao recurso:</h3>
          <p>{{data.recurso.respostaJustificativa}}</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="accent" mat-dialog-close>Fechar</button>
  <button *ngIf="!data.flagJustView" mat-raised-button color="primary" style="background-color: green;" (click)="register()">Enviar</button>
</div>