<h1 mat-dialog-title>Solicitação de Recurso</h1>

<div class="pb-3" mat-dialog-content>
  <form role="form" class="reviewer container" [formGroup]="form">

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Justificativa</mat-label>
      <textarea matInput formControlName="justificativa"></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-raised-button color="primary" style="background-color: green;" (click)="register()">Enviar</button>
</div>