<div class="profile-card">
  <div class="row profile-card--blur-content">
    <div class="col-md-4">
      <img class="profile-card__image" src="{{ profile.imagePathS3 }}" alt="">
    </div>
    <div class="col-md-8">
      <div class="profile-card__data">
        <p class="profile-data__group">{{ profile.academicFormation }}</p>
        <p class="profile-data__group">{{ profile.researchLine }}</p>
        <p class="profile-data__name">{{ profile.fullName }}</p>
      </div>
    </div>
  </div>
  <div class="row profile-card__action">
    <div class="content-action">
      <button class="btn btn-danger content-action__btn" (click)="delete.emit(profile)">
        <i class="fa-solid fa-trash"></i>
        Deletar
      </button>
      <button class="btn btn-primary content-action__btn" (click)="edit.emit()">
        <i class="fa-solid fa-pencil"></i>
        Editar
      </button>
    </div>
  </div>
</div>