.text-body {
  padding: 30px;
  border-radius: 15px;
  border: 2px solid antiquewhite;

  h4 strong {
    color: var(--color-secondary);
  }

  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}