<div class="container pb-5">
  <div class="row justify-content-between">
    <div class="section-header" mat-dialog-title>
      <h2>Inscrições/Avaliadores</h2>
    </div>
  </div>

  <div class="row justify-content-end mb-3">
    <div class="col-12">

      <mat-form-field appearance="fill" class="mb-3 w-100">
        <mat-label>Selecione um Processo Seletivo</mat-label>
        <mat-select (selectionChange)="getInscricoes($event.value)">
          <mat-option *ngFor="let linha of listProcessoSeletivo" [value]="linha._id">{{ linha.title }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="idProcessoSelecionado" class="row justify-content-end mb-5">
    <div class="col-auto">

      <mat-form-field appearance="fill" class="mb-3 w-100">
        <mat-label>Filtro Aprovação</mat-label>
        <mat-select (selectionChange)="getInscricoesByFiltro( $event.value )">
          <mat-option value="todos">Todos</mat-option>
          <mat-optgroup label="Homologação">
            <mat-option value="aguardandoHomolog">Aguardando</mat-option>
            <mat-option value="reprovadoHomolog">Indeferido</mat-option>
            <mat-option value="homologadoHomolog">Deferido</mat-option>
          </mat-optgroup>
          <mat-optgroup label="Aprovação">
            <mat-option value="aguardandoAprov">Aguardando aprovação</mat-option>
            <mat-option value="reprovadoAprov">Não aprovado</mat-option>
            <mat-option value="aprovadoAprov">Aprovado</mat-option>
          </mat-optgroup>
          <mat-optgroup label="Recurso">
            <mat-option value="recursoSolicitado">Solicitado</mat-option>
            <mat-option value="recursoNaoAprovado">Não aprovado</mat-option>
            <mat-option value="recursoAprovado">Aprovado</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

    </div>
  </div>

  <div *ngFor="let inscricoes of listInscritos; let i = index"
    class="row justify-content-between mb-3 px-2 card-inscricoes">
    <div class="col pt-3 pb-2">
      <div class="row mb-3">
        <div class="col-auto font-weight-bold">
          Responsável Pela Homologação:
        </div>
        <div class="col-auto">
          <mat-radio-group [disabled]="!myUser.isAdmin && !myUser.isCoordenador" aria-label="Selecione um responsável" (change)="onRespHomologChange($event, i)" [value]="inscricoes.responsavelHomologacao">
            <mat-radio-button class="mr-2" value="primeiro">Avaliador 1</mat-radio-button>
            <mat-radio-button value="segundo">Avaliador 2</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-10">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Avaliador 1</mat-label>
            <mat-select [disabled]="!myUser.isAdmin && !myUser.isCoordenador" [value]="inscricoes.parecerista?.primeiro?._id"
              (selectionChange)="selecionarPareceristaNoInscrito($event.value, i, inscricoes._id, 'primeiro')">
              <mat-option *ngFor="let parecerista of inscricoes.possiveisAvaliadores" [value]="parecerista._id">{{
                parecerista.email }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <div class="row align-items-center">
        <div class="col-10">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Avaliador 2</mat-label>
            <mat-select [disabled]="!myUser.isAdmin && !myUser.isCoordenador" [value]="inscricoes.parecerista?.segundo?._id"
              (selectionChange)="selecionarPareceristaNoInscrito($event.value, i, inscricoes._id, 'segundo')">
              <mat-option *ngFor="let parecerista of inscricoes.possiveisAvaliadores" [value]="parecerista._id">{{
                parecerista.email }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-auto">
          <p class="m-0 title">Nome: </p>
          <p>{{inscricoes.idUser.fullname}}</p>
        </div>
        <div class="col-auto">
          <p class="m-0 title">Linha de Pesquisa: </p>
          <p>{{inscricoes.titleLinhaPesquisa}}</p>
        </div>
      </div>
      <div class="row">

        <div class="col" *ngIf="myUser.isCoordenador && inscricoes.coordenadoresLinha?.indexOf(myUser._id) > -1">
          
          <div class="row">
            <div class="col-12">
              <table mat-table [dataSource]="inscricoes.avaliacaoEtapas" class="mat-elevation-z8 w-100 text-center">
    
                <ng-container matColumnDef="etapa">
                  <th class="text-center p-0" mat-header-cell *matHeaderCellDef> Etapa </th>
                  <td class="p-0" mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                </ng-container>
              
                <ng-container matColumnDef="avaliador1">
                  <th class="text-center p-0" mat-header-cell *matHeaderCellDef> Avaliador 1 </th>
                  <td class="p-0" mat-cell *matCellDef="let element"> {{element.primeiroAvaliador != undefined ? element.primeiroAvaliador : "N/A" }} </td>
                </ng-container>
              
                <ng-container matColumnDef="avaliador2">
                  <th class="text-center p-0" mat-header-cell *matHeaderCellDef> Avaliador 2 </th>
                  <td class="p-0" mat-cell *matCellDef="let element"> {{element.segundoAvaliador != undefined ? element.segundoAvaliador : "N/A" }} </td>
                </ng-container>
              
                <ng-container matColumnDef="media">
                  <th class="text-center p-0" mat-header-cell *matHeaderCellDef> Média </th>
                  <td class="p-0" mat-cell *matCellDef="let element"> {{element.media}} </td>
                </ng-container>
              
                <ng-container matColumnDef="approve">
                  <th class="text-center p-0" mat-header-cell *matHeaderCellDef> Aprovado? </th>
                  <td class="p-0" mat-cell *matCellDef="let element"> {{inscricoes.parecer?.step && inscricoes.parecer?.step['step-'+element.idStep]?.stepApproval != null ? (inscricoes.parecer?.step['step-'+element.idStep]?.stepApproval ? "SIM" : "NÃO") : "N/A"}} </td>
                </ng-container>
              
                <ng-container matColumnDef="acoes">
                  <th class="text-center p-0" mat-header-cell *matHeaderCellDef> Ações </th>
                  <td class="p-0" mat-cell *matCellDef="let element"> 
                    <span (click)="consolidarAvaliacao(true, element, inscricoes)" matTooltip="Aprovar" matTooltipPosition="above"
                      class="material-icons md-18 btn card-icon-action p-0">done</span>
                    <span (click)="consolidarAvaliacao(false, element, inscricoes)" matTooltip="Reprovar" matTooltipPosition="above"
                      class="material-icons md-18 btn card-icon-action p-0">close</span>
                    <div class="col-auto" *ngIf="inscricoes.parecer?.step && inscricoes.parecer?.step['step-'+element.idStep]?.recurso?.justificativa">
                      <button type="button" mat-raised-button color="primary" (click)="responderJustificativa(element.idStep, inscricoes.parecer?.step['step-'+element.idStep]?.recurso, inscricoes._id)">
                        {{inscricoes.parecer?.step['step-'+element.idStep]?.recurso?.respostaJustificativa ? "Visualizar recurso" : "Responder recurso"}}
                      </button>
                    </div>
                    <!-- <span matTooltip="ver" matTooltipPosition="above"
                      class="material-icons md-18 btn card-icon-action p-0">close</span> -->
                  </td>
                </ng-container>

                <ng-container matColumnDef="mediaTotal">
                  <td mat-footer-cell *matFooterCellDef> Media final: {{inscricoes.mediaFinal}} </td>
                </ng-container>
                
              
                <tr mat-header-row *matHeaderRowDef="tableColumsCoordenador"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumsCoordenador;"></tr>
                <tr mat-footer-row *matFooterRowDef="['mediaTotal']"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-auto pt-3 pb-2">
      <div *ngIf="myUser.isAdmin || myUser.isCoordenador" class="row">
        <span (click)="vincularParecerista(inscricoes)" matTooltip="Salvar" matTooltipPosition="above"
          class="material-icons md-18 btn card-icon-action">save</span>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <p>
            {{verificarHomologacao(inscricoes.parecer?.homologado)}}
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <p>
            {{verificarAprovacao(inscricoes.parecer?.aprovado)}}
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <span (click)="detalharInscricao(inscricoes._id)" matTooltip="Detalhar" matTooltipPosition="above"
          class="material-icons md-18 btn card-icon-action">{{this.flagDetalharInscricao &&
          this.inscricaoSelecionada?._id == inscricoes._id ? 'remove' : 'add'}}</span>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-auto" *ngIf="verificaIsResponsavelHomologacao(inscricoes, myUser)">
          <button style="background-color: green;" type="button" mat-raised-button color="primary"
            (click)="openModalHomologar(inscricoes._id)">Homologar</button>
        </div>
      </div>
      <div class="col-auto mb-3" *ngIf="verificaIsResponsavelHomologacao(inscricoes, myUser) && inscricoes?.parecer?.recursoHomolog?.justificativa">
        <button (click)="responderJustificativaHomolog(inscricoes._id, inscricoes?.parecer?.recursoHomolog?.justificativa, inscricoes?.parecer?.recursoHomolog?.respostaJustificativa, inscricoes?.parecer?.recursoHomolog?.recursoAceito)" type="button" mat-raised-button color="primary">
          {{inscricoes?.parecer?.recursoHomolog?.respostaJustificativa ? "Visualizar recurso" : "Responder recurso"}}
        </button>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto" *ngIf="inscricoes?.parecerista?.primeiro?._id == myUser._id || inscricoes?.parecerista?.segundo?._id == myUser._id">
          <button style="background-color: green;" type="button" mat-raised-button color="primary"
            (click)="openModalParecer(inscricoes._id)">Avaliar</button>
        </div>
      </div>
    </div>

    <div class="col-12">

      <div *ngIf="this.flagDetalharInscricao && this.inscricaoSelecionada?._id == inscricoes._id" class="row">
        <div class="col-12">
          <hr>
          <div class="row justify-content-center text-center">
            <h2>Dados cadastrados no processo</h2>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label><strong>Linha de pesquisa</strong></label>
              <p>{{ inscricaoSelecionada?.linhaPesquisa['pt-br']?.title }}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <label><strong>Orientador</strong></label>
              <p>{{ inscricaoSelecionada?.primeiroOrientador?.fullName }}</p>
            </div>
            <div class="col-md-6" *ngIf="inscricaoSelecionada.tipoFormulario == typeGraduateEnum.MESTRADO">
              <label><strong>Segundo orientador</strong></label>
              <p>{{ inscricaoSelecionada?.segundoOrientador?.fullName }}</p>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-md-12">
              <label><strong>Opção de vaga</strong></label>
              <p>{{ typeOpcaoVagaEnumToSubscription[inscricaoSelecionada.opcaoVaga] }}</p>
            </div>
            <div *ngIf="inscricaoSelecionada.opcaoVaga == typeOpcaoVagaEnum.COTAS_ACOES_AFIRMATIVAS" class="col-md-12">
              <label><strong>Descrição da cota</strong></label>
              <p>{{ inscricaoSelecionada.opcaoVagaCotaSub }}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label><strong>Provisão para caso de deficiência</strong></label>
              <p>{{ inscricaoSelecionada.deficienciaSub }}</p>
            </div>
          </div>
          <hr>
          <div class="row justify-content-center text-center">
            <h2>Graduação</h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label><strong>Nome da graduação</strong></label>
              <p>{{ inscricaoSelecionada.graduacao.nome }}</p>
            </div>
            <div class="col-md-6">
              <label><strong>Nome da instituição</strong></label>
              <p>{{ inscricaoSelecionada.graduacao.instituicao }}</p>
            </div>
            <div class="col-md-6">
              <label><strong>Ano de conclusão</strong></label>
              <p>{{ inscricaoSelecionada.graduacao.anoConclusao }}</p>
            </div>
            <div class="col-md-6">
              <label><strong>Aceitou termo</strong></label>
              <p>{{ inscricaoSelecionada.graduacao.termoNaoColacaoGrau ? "Sim" : "Não" }}</p>
            </div>
          </div>
          <hr>
          <div class="row justify-content-center text-center">
            <h2>Pós-graduação</h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label><strong>Nome da pós-graduação</strong></label>
              <p>{{ inscricaoSelecionada.posGraduacao.nome }}</p>
            </div>
            <div class="col-md-6">
              <label><strong>Nome da instituição</strong></label>
              <p>{{ inscricaoSelecionada.posGraduacao.instituicao }}</p>
            </div>
            <div class="col-md-6">
              <label><strong>Ano de conclusão</strong></label>
              <p>{{ inscricaoSelecionada.posGraduacao.anoConclusao }}</p>
            </div>
          </div>
          <hr>
          <div class="row justify-content-center text-center"
            *ngIf="inscricaoSelecionada.tipoFormulario == typeGraduateEnum.DOUTORADO">
            <h2>Pós-graduação (mestrado)</h2>
          </div>
          <div class="row" *ngIf="inscricaoSelecionada.tipoFormulario == typeGraduateEnum.DOUTORADO">
            <div class="col-md-6">
              <label><strong>Nome da pós-graduação</strong></label>
              <p>{{ inscricaoSelecionada.posGraduacao.nome }}</p>
            </div>
            <div class="col-md-6">
              <label><strong>Nome da instituição</strong></label>
              <p>{{ inscricaoSelecionada.posGraduacao.instituicao }}</p>
            </div>
            <div class="col-md-6">
              <label><strong>Ano de conclusão</strong></label>
              <p>{{ inscricaoSelecionada.posGraduacao.anoConclusao }}</p>
            </div>
          </div>
          <hr>
          <div class="row mb-3">
            <div class="col-md-6 mb-3">
              <label class="mb-0"><strong>Currículo Lattes</strong></label>
              <br>
              <a [href]="addInicioS3Url(inscricaoSelecionada.files.pathLattes)">
                <i style="font-size: 35px;" class="bi bi-filetype-pdf"></i>
              </a>
            </div>
            <div class="col-md-6 mb-3" *ngIf="inscricaoSelecionada.tipoFormulario == typeGraduateEnum.MESTRADO">
              <label class="mb-0"><strong>Pré-projeto</strong></label>
              <br>
              <a [href]="addInicioS3Url(inscricaoSelecionada.files.pathPreProj)">
                <i style="font-size: 35px;" class="bi bi-filetype-pdf"></i>
              </a>
            </div>
            <div class="col-md-6 mb-3" *ngIf="inscricaoSelecionada.tipoFormulario == typeGraduateEnum.DOUTORADO">
              <label class="mb-0"><strong>Projeto de Tese</strong></label>
              <br>
              <a [href]="addInicioS3Url(inscricaoSelecionada.files.pathProjetoTese)">
                <i style="font-size: 35px;" class="bi bi-filetype-pdf"></i>
              </a>
            </div>
            <div class="col-md-6 mb-3" *ngIf="inscricaoSelecionada.tipoFormulario == typeGraduateEnum.DOUTORADO">
              <label class="mb-0"><strong>Principal publicação</strong></label>
              <br>
              <a [href]="addInicioS3Url(inscricaoSelecionada.files.pathPrincipalPubli)">
                <i style="font-size: 35px;" class="bi bi-filetype-pdf"></i>
              </a>
            </div>
          </div>
          <!-- <div class="row align-items-center mb-3" *ngIf="myUser.isCoordenador && inscricoes.coordenadoresLinha?.indexOf(myUser._id) > -1">
            <div class="col-12"><hr></div>
            <div class="col-12">
              <label class="mb-0"><strong>Homologação: </strong></label>
            </div>

            <div class="col-auto">
              <mat-radio-group [(ngModel)]="radioHomologValue" class="example-radio-group w-100">
                <mat-radio-button class="example-radio-button mr-3" [value]="true">Deferido</mat-radio-button>
                <mat-radio-button class="example-radio-button mr-3" [value]="false">Indeferido</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="col-auto">
              <button (click)="changeHomolog()" style="background-color: green;" type="button" mat-raised-button color="primary">Salvar</button>
            </div>

            <div class="col-auto ml-3" *ngIf="inscricaoSelecionada?.parecer?.recursoHomolog?.justificativa">
              <button (click)="responderJustificativaHomolog(inscricaoSelecionada?.parecer?.recursoHomolog?.justificativa, inscricaoSelecionada?.parecer?.recursoHomolog?.respostaJustificativa, inscricaoSelecionada?.parecer?.recursoHomolog?.recursoAceito)" type="button" mat-raised-button color="primary">
                {{inscricaoSelecionada?.parecer?.recursoHomolog?.respostaJustificativa ? "Visualizar recurso" : "Responder recurso"}}
              </button>
            </div>

            <div class="col-12" *ngIf="radioHomologValue == false">
              <label>Justifique: </label>
              <textarea class="textarea mb-3" matInput [(ngModel)]="justificaIndeferido"></textarea>
            </div>

          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>