<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    
    <div class="form-group col-md-12">
        <h4>Pesquisar pelo CPF ou Nome</h4>
        <input type="text" class="form-control" placeholder="Pesquisar pelo CPF ou Nome" [(ngModel)]="searchText"/>
    </div>
    <div class="row justify-content-end m-4 mb-5">
        <button type="button" mat-raised-button color="primary" (click)="searchByCPFOrName()">
        Pesquisar
        </button>
    </div>
    <table *ngIf="!flagShowInfoUser; else infoUserBlock" class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 75%;">Nome</th>
                <th scope="col">Ficha de inscrição</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let di of data.users">
                <th scope="row" style="width: 75%;">{{ di.idUser.fullname?.toUpperCase()}}</th>
                <th scope="row">
                    <span class="material-icons md-18 btn" (click)="getUserInfo(di.idUser._id)">description</span>
                </th>
            </tr>
        </tbody>
    </table>
    <ng-template #infoUserBlock>
        <div class="container" style="word-break: break-all;">
            <div class="row justify-content-center text-center">
                <h2>Dados cadastrais</h2>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label><strong>Nome Completo</strong></label>
                    <p>{{infoUser.fullname != null ? infoUser.fullname : '-'}}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Nome social</strong></label>
                    <p>{{infoUser.socialname != null ? infoUser.socialname : '-'}}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <label><strong>CPF</strong></label>
                    <p>{{infoUser.cpf != null ? infoUser.cpf : '-'}}</p>
                </div>
                <div class="col-md-4">
                    <label><strong>Data de nascimento</strong></label>
                    <p>{{ infoUser.dataNiver != null ? (infoUser.dataNiver | date: 'dd/MM/yyyy') : '-' }}</p>
                </div>
                <div class="col-md-4">
                    <label><strong>Nacionalidade</strong></label>
                    <p>{{infoUser.nacionalidade != null ? infoUser.nacionalidade : '-'}}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <label><strong>Identidade</strong></label>
                    <p>{{infoUser.rg != null ? infoUser.rg : '-'}}</p>
                </div>
                <div class="col-md-4">
                    <label><strong>Órgão Emissor</strong></label>
                    <p>{{infoUser.rgEmissor != null ? infoUser.rgEmissor : '-'}}</p>
                </div>
                <div class="col-md-4">
                    <label><strong>Passaporte</strong></label>
                    <p>{{infoUser.passaporte != null ? infoUser.passaporte : '-'}}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label><strong>Cor</strong></label>
                    <p>{{infoUser.cor != null ? infoUser.cor : '-'}}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Gênero</strong></label>
                    <p>{{infoUser.genero != null ? infoUser.genero : '-'}}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label><strong>Possui alguma deficiência? Qual?</strong></label>
                    <p>{{infoUser.deficiencia != null ? infoUser.deficiencia : '-'}}</p>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-md-4">
                    <label><strong>Email</strong></label>
                    <p>{{infoUser.email != null ? infoUser.email : '-'}}</p>
                </div>
                <div class="col-md-4">
                    <label><strong>Telefone</strong></label>
                    <p>{{infoUser.telefone != null ? infoUser.telefone : '-'}}</p>
                </div>
                <div class="col-md-4">
                    <label><strong>Celular</strong></label>
                    <p>{{infoUser.celular != null ? infoUser.celular : '-'}}</p>
                </div>
            </div>
            <hr>
            <div class="row mt-3">

                <!-- Endereço -->
                <div class="col-md-4">
                    <label><strong>Código postal</strong></label>
                    <p>{{infoUser.cep != null ? infoUser.cep : '-'}}</p>
                </div>
                <div class="col-md-8">
                    <label><strong>Endereço</strong></label>
                    <p>{{infoUser.endereco != null ? infoUser.endereco : '-'}}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <label><strong>Cidade</strong></label>
                    <p>{{infoUser.cidade != null ? infoUser.cidade : '-'}}</p>
                </div>
                <div class="col-md-4">
                    <label><strong>Estado</strong></label>
                    <p>{{infoUser.estado != null ? infoUser.estado : '-'}}</p>
                </div>
                <div class="col-md-4">
                    <label><strong>Bairro</strong></label>
                    <p>{{infoUser.bairro != null ? infoUser.bairro : '-'}}</p>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label><strong>Ocupação atual / Cargo</strong></label>
                    <p>{{infoUser.cargo != null ? infoUser.cargo : '-'}}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Instituição / Empresa</strong></label>
                    <p>{{infoUser.empresa != null ? infoUser.empresa : '-'}}</p>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center text-center">
                <h2>Dados cadastrados no processo</h2>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label><strong>Linha de pesquisa</strong></label>
                    <p>{{ infoUserProcesso?.linhaPesquisa['pt-br']?.title }}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label><strong>Orientador</strong></label>
                    <p>{{ infoUserProcesso?.primeiroOrientador?.fullName }}</p>
                </div>
                <div class="col-md-6" *ngIf="infoUserProcesso.tipoFormulario == typeGraduateEnum.MESTRADO">
                    <label><strong>Segundo orientador</strong></label>
                    <p>{{ infoUserProcesso?.segundoOrientador?.fullName }}</p>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label><strong>Opção de vaga</strong></label>
                    <p>{{ typeOpcaoVagaEnumToSubscription[infoUserProcesso.opcaoVaga] }}</p>
                </div>
                <div *ngIf="infoUserProcesso.opcaoVaga == typeOpcaoVagaEnum.COTAS_ACOES_AFIRMATIVAS" class="col-md-12">
                    <label><strong>Descrição da cota</strong></label>
                    <p>{{ infoUserProcesso.opcaoVagaCotaSub }}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label><strong>Provisão para caso de deficiência</strong></label>
                    <p>{{ infoUserProcesso.deficienciaSub }}</p>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center text-center">
                <h2>Graduação</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><strong>Nome da graduação</strong></label>
                    <p>{{ infoUserProcesso.graduacao.nome }}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Nome da instituição</strong></label>
                    <p>{{ infoUserProcesso.graduacao.instituicao }}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Ano de conclusão</strong></label>
                    <p>{{ infoUserProcesso.graduacao.anoConclusao }}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Aceitou termo</strong></label>
                    <p>{{ infoUserProcesso.graduacao.termoNaoColacaoGrau ? "Sim" : "Não" }}</p>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center text-center">
                <h2>Pós-graduação</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><strong>Nome da pós-graduação</strong></label>
                    <p>{{ infoUserProcesso.posGraduacao.nome }}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Nome da instituição</strong></label>
                    <p>{{ infoUserProcesso.posGraduacao.instituicao }}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Ano de conclusão</strong></label>
                    <p>{{ infoUserProcesso.posGraduacao.anoConclusao }}</p>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center text-center"
                *ngIf="infoUserProcesso.tipoFormulario == typeGraduateEnum.DOUTORADO">
                <h2>Pós-graduação (mestrado)</h2>
            </div>
            <div class="row" *ngIf="infoUserProcesso.tipoFormulario == typeGraduateEnum.DOUTORADO">
                <div class="col-md-6">
                    <label><strong>Nome da pós-graduação</strong></label>
                    <p>{{ infoUserProcesso.posGraduacao.nome }}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Nome da instituição</strong></label>
                    <p>{{ infoUserProcesso.posGraduacao.instituicao }}</p>
                </div>
                <div class="col-md-6">
                    <label><strong>Ano de conclusão</strong></label>
                    <p>{{ infoUserProcesso.posGraduacao.anoConclusao }}</p>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    <label class="mb-0"><strong>Currículo Lattes</strong></label>
                    <br>
                    <a [href]="addInicioS3Url(infoUserProcesso.files.pathLattes)">
                        <i style="font-size: 35px;" class="bi bi-filetype-pdf"></i>
                    </a>
                </div>
                <div class="col-md-6 mb-3" *ngIf="infoUserProcesso.tipoFormulario == typeGraduateEnum.MESTRADO">
                    <label class="mb-0"><strong>Pré-projeto</strong></label>
                    <br>
                    <a [href]="addInicioS3Url(infoUserProcesso.files.pathPreProj)">
                        <i style="font-size: 35px;" class="bi bi-filetype-pdf"></i>
                    </a>
                </div>
                <div class="col-md-6 mb-3" *ngIf="infoUserProcesso.tipoFormulario == typeGraduateEnum.DOUTORADO">
                    <label class="mb-0"><strong>Projeto de Tese</strong></label>
                    <br>
                    <a [href]="addInicioS3Url(infoUserProcesso.files.pathProjetoTese)">
                        <i style="font-size: 35px;" class="bi bi-filetype-pdf"></i>
                    </a>
                </div>
                <div class="col-md-6 mb-3" *ngIf="infoUserProcesso.tipoFormulario == typeGraduateEnum.DOUTORADO">
                    <label class="mb-0"><strong>Principal publicação</strong></label>
                    <br>
                    <a [href]="addInicioS3Url(infoUserProcesso.files.pathPrincipalPubli)">
                        <i style="font-size: 35px;" class="bi bi-filetype-pdf"></i>
                    </a>
                </div>
            </div>

        </div>
    </ng-template>
    <app-pagination *ngIf="!flagShowInfoUser && (data.users.length > 0 || page > 1)" [page]="page" [qtdItems]="data.users.length" [limit]="limit"
      (onPagination)="onPagination($event)">
    </app-pagination>
</div>
<hr>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="onNoClick()">Fechar</button>
    <button type="button" (click)="voltar()" mat-raised-button color="primary" *ngIf="flagShowInfoUser">Voltar</button>
</div>