<div class="card-body" id="card-tese-dissertacao">
    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ano de publicação</th>
                    <th scope="col">Orientador</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let di of datas; let i= index">
                    <tr *ngIf="i < limit">
                        <td scope="row">{{ di.ano }}</td>
                        <td scope="row">{{ di.orientador }}</td>
                        <td scope="row">{{ di.autor }}</td>
                        <td scope="row">{{ di.titulo }}</td>
                        <td scope="row">
                            <span matTooltip="Deletar" matTooltipPosition="above" class="material-icons md-18 btn"
                                (click)="apagarTitulo(di._id, di.autor, di.titulo, di.tipo)">delete</span>
                            <span matTooltip="Editar" matTooltipPosition="above" class="material-icons md-18 btn" (click)="editarTitulo(di)">edit_square</span>
                            <span matTooltip="Ver Resumo" matTooltipPosition="above" class="material-icons md-18 btn" (click)="openResumoDialog(di)">preview</span>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>