<h1 mat-dialog-title>Avaliação da inscrição</h1>
<div class="pb-3" mat-dialog-content>
  <form  role="form" class="reviewer container" [formGroup]="form">

    <div formGroupName="step">
      <div *ngFor="let step of data.criterio?.step; let i = index" >
        <div *ngIf="etapaAvaliacao >= i && (i == 0 || parecerConsolidadoSelected?.step['step-'+data.criterio?.step[i-1]?._id]?.stepApproval)" class="row mt-5" [formGroupName]="'step-'+step._id">
          <div class="col-12 text-center p-2">
            <h3>
              {{ step.title }}
            </h3>
            <div class="row align-items-center text-start border border-dark" *ngFor="let section of step.section">
              <div class="col-md-3 p-2">
                <p class="title-section-form">
                  {{ section.title }}
                </p>
              </div>
              <div class="col-md-9 p-2" [formGroupName]="'section-'+section._id">
        
                <div class="row align-items-center" *ngFor="let question of section.question">
                  <div class="col-9 p-2">
                    <p>
                      {{question.text}}
                    </p>
                  </div>
                  <div class="col-3 p-2">
                    <label class="mr-1" style="font-size: 12px;">(até {{formatDecimal(question.maxNota)}} p.)</label>
                    <input (keyup)="chamouOutro($event, question.maxNota)" (keypress)="validateNumber($event, question.maxNota)" class="input-nota" type="text" [formControlName]="'question-'+question._id">
                  </div>
                </div>
        
              </div>
            </div>
          </div>
    
          <!-- <div class="col-12 mt-3">
            <div class="row justify-content-center align-items-center">
              <div class="col-auto">
                <mat-radio-group class="example-radio-group w-100" formControlName="stepApproval" >
                  <mat-radio-button class="example-radio-button mr-3" [value]="true">Aprovar etapa</mat-radio-button>
                  <mat-radio-button class="example-radio-button mr-3" [value]="false">Reprovar etapa</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-auto" *ngIf="this.parecerSelected?.step && this.parecerSelected?.step['step-'+step._id]?.recurso?.justificativa">
                <button type="button" mat-raised-button color="primary" (click)="responderJustificativa(step._id, this.parecerSelected?.step['step-'+step._id]?.recurso)">
                  {{this.parecerSelected?.step['step-'+step._id]?.recurso?.respostaJustificativa ? "Visualizar recurso" : "Responder recurso"}}
                </button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </form>

</div>
<hr class="mt-0">
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-raised-button color="primary" style="background-color: green;" (click)="register()">Finalizar parecer</button>
</div>
