<h1 mat-dialog-title>Adicionar parecerista</h1>
<div mat-dialog-content>
  <form role="form" class="reviewer" [formGroup]="formParecerista" (ngSubmit)="addParecerista()">
    <div class="container">
      <div class="row">
        <div class="col mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email do usuário"
            formControlName="email">
        </div>
        <div class="col-auto">
          <button type="submit" mat-raised-button
              color="accent" style="background: green;" >Adicionar Parecerista</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Fechar</button>
</div>